<!DOCTYPE >
<html>
	<head>
		<title></title>
	</head>
	<script type="text/javascript" src="layui/layui.js"></script>
	<body>
		<div class="layui-tab" lay-filter="demo">
		  <ul class="layui-tab-title">
		    <li class="layui-this">网站设置</li>
		    <li>商品管理</li>
		    <li>订单管理</li>
		  </ul>
		  <div class="layui-tab-content">
		    <div class="layui-tab-item layui-show">内容1</div>
		    <div class="layui-tab-item">内容2</div>
		    <div class="layui-tab-item">内容3</div>
		  </div>
		</div>
		<script>
			layui.use('element',function(){
				var element=layui.element;
				element.on('tab(demo)',function(data){
					console.log(data);
				});
			});
		</script>
	</body>
</html>